{% extends "base.html" %}
{% block title %}
Лента записей
{% endblock %}
{% block content %}
      <div class="container py-5">
        <h1>Лента записей</h1>
        {% for data in post %}
        <hr>
        <article>
          <ul>
            <li>
              Место: {{ data.location}}
            </li>
            <li>
              Дата: {{ data.date}}
            </li>
            <li>
              Категория: <a href="{% url 'blog:category_posts' data.category %}">{{ data.category}}</a>
            </li>
          </ul>          
          <!-- Первые 10 слов -->
          <p>
            {{ data.text|truncatewords:10}}
          </p>
          <a href="{% url 'blog:post_detail' data.id  %}">Читать полный текст</a>
        </article>
        {% endfor %}
{% endblock %}